{{!-- This page allows the user to edit a post --}}

<h1 class="text-primary">Edit Your Post:</h1>
<div class="card border border-white" style="width: 80%">

      <div class="form-floating mb-3">
        <input type="text" class="form-control" value="{{post.title}}" id="edit_post_title">
        <label for="edit_post_title">Title</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" value="{{post.content}}" id="edit_post_content">
        <label for="edit_post_comment">Content</label>
      </div>

    <button class="btn btn-primary" id="edit_post_card">Submit</a>
    
</div>

<script src="/js/editpost.js"></script>

{{!--   <a href="/editedpost/{{post.id}}" class="btn btn-primary">Submit Changes</a> --}}
  </div>
</div>

